body {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 1em;
}

._title {
    font-size: 1.4em;
}

._author {
    font-size: 1.1em;
}

.book {
    background-color: #f9e3d2;
    border: 1px solid black;
    margin-top: .5em;
    margin-bottom: .5em;
    padding: 8px;
}

.dynamic {
    border: 1px solid black;
    background-color: #eee;
}

.contentpanel {
    float: left;
    margin-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
}

.datapanel {
    border-left: 1px dashed #888;
    float: left;
    padding-left: 50px;
    padding-bottom: 50px;
}