body {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 1em;
}

._title {
    font-size: 1.4em;
}

._author {
    font-size: 1.1em;
}

.book {
    background-color: #f9e3d2;
    border: 1px solid black;
    margin-top: .5em;
    margin-bottom: .5em;
}

.dynamic {
    border: 1px solid red;
    background-color: pink;
}