<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>GitHub Pages - {{ page.title }}</title>

    <link href="http://github.com/stylesheets/bundle_common.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="http://github.com/stylesheets/bundle_github.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="stylesheets/screen.css" media="screen" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <a href="http://github.com/marcpalmer/HORN"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub" /></a>
    <div id="main">
      <div id="header" class="basic" style="margin-bottom:20px">

        <div class="site">
          <div class="logo boring">
            <a href="/marcpalmer/HORN"><img src="images/horn-logo.png" alt="HORN Logo" /></a>
          </div>
          <div class="topsearch">
            <ul class="nav logged_out" style="margin-top:20px">
                <li><a href="index.html"><b>Overview</b></a></li>
                <li><a href="horn-specification.html"><b>Specification</b></a></li>
                <li><a href="http://github.com/marcpalmer/HORN">Code</a></li>
                <li><a href="http://github.com/marcpalmer/grails-horn">Grails Plugin</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div id="content" class="site">

          <div class="download">
            <a href="http://github.com/marcpalmer/HORN/zipball/master">
              <img border="0" width="90" src="http://github.com/images/modules/download/zip.png"></a>
            <a href="http://github.com/marcpalmer/HORN/tarball/master">
              <img border="0" width="90" src="http://github.com/images/modules/download/tar.png"></a>
          </div>

          <h1 class="big"><a href="http://github.com/marcpalmer/HORN">HORN</a><br/>
            <span class="small">by 
            <a href="http://github.com/marcpalmer"><img width="40" height="40" src="http://www.gravatar.com/avatar/e69290a3790e6238aa81297d183274a5.jpg?s=40" alt="Look! It's a gravatar!"/> Marc Palmer</a> and <a href="http://github.com/wangjammer7"><img width="40" height="40" src="http://www.gravatar.com/avatar/e6725ab915e5ad746f83ad736ff02a3a.jpg?s=40" alt="Look! It's a gravatar!"/> Chris Denman</a></span></h1>

          <div class="description">
            HORN - HTML Object RepresentatioN
          </div>

        {{ content }}


          <div class="footer">
            Get the source code on GitHub : <a href="http://github.com/marcpalmer/HORN">marcpalmer/HORN</a>
          </div>
      </div>

      <div class="push"></div>
    </div>

    <div id="footer">
      <div class="site">

        <div class="info">
          <div class="links">
            <a href="horn-specification.html"><b>Specification</b></a> |
            <a href="http://github.com/marcpalmer/HORN">Code</a> |
            <a href="http://github.com/marcpalmer/grails-horn">Grails Plugin</a>
          </div>
          <div class="company">
           &copy;
            {{ site.time | date: "%Y" }}
            <a href="http://spottymushroom.com">Spotty Mushroom</a>
            All rights reserved.
          </div>
        </div>
      </div>
    </div>
  </body>
</html>